.post__item {
	max-width: 516px;
}
.post__item-image {
	max-width: 280px;
	height: 200px;
	margin-bottom: 25px;
}
.post__item-image img {
	height: 100%;
	border-radius: 10px;
}
.post__item-title {
	font-size: 20px;
	margin-bottom: 25px;
}
.post__item-text {
	color: rgb(88, 88, 88);
	line-height: 25px;
	margin-bottom: 10px;
}
.post__item-buttons {
	display: flex;
	align-items: center;
	gap: 20px;
}
.more {
	margin-left: 5px;
	color: dodgerblue;
	text-decoration: underline;
	display: inline;
}